.nav-element ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
	border-bottom-left-radius:14px; 
	border-top-right-radius:14px;

}

.nav-element li  {
    float: left;
	font-family: "Century Gothic", sans-serif;
}

.nav-element li a  {
    display: block;
    color: crimson !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important; /*Underline in BS*/
	text-transform: uppercase;
	font-weight: bold;
	border-bottom-left-radius:14px; 
	border-top-right-radius:14px;
}

a:hover:not(.active) {
    background-color: #333;
}

.active {
	background-color:#fc6900;
	border-bottom-left-radius:14px; 
	border-top-right-radius:14px;
}