body{
	background: url(../img/universe.jpg) no-repeat center center fixed;
	background-size: cover;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

audio {
	display: none;
}
