body{
	background-color: #091a24;
}

table, td, th{
	border: 1px solid gray;
}
	
table{
	border: 5px solid gray;
	font-family: monospace, sans-serif;
	color: white;
	margin-top: 30px;
}

a:visited{
	color: purple;
}
a:link{
	color: aqua;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 720px) {
    table, td, th{
	font-size: 9vw;
	}
}
