body{
	background-color: #091a24;
}

table, td, th{
	border: 1px solid gray;
	font-size: 4vw;
}
	
table{
	border: 5px solid gray;
	font-family: monospace, sans-serif;
	color: white;
	margin-top: 30px;
}

a:visited{
	color: purple;
}