/*body {
	background-color: #091a24 !important;
	font-family: "Century Gothic", sans-serif !important;
}

legend, p {
	color: white !important;
}

legend {
	font-weight: bold !important;
}

form {
	margin-top: 10px;
}*/
* {
	font-family: "Century Gothic", sans-serif;
}

body {
	background-color: #091a24;
}



